

@media (min-width: 320px) and (max-width: 480px) {
  
  
  .main {
    min-height: 84vh;
    padding: 0rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(133, 133, 197, 0.494);
    align-items: center;
    text-align: center;
    border-radius: 5%;
    border-width: 3px;
    border-style: groove;
    border-color: rgba(13, 29, 255, 0.344);
    background-image: url("../public/Imagenes/james-harrison-vpOeXr5wmR4-unsplash.jpg") ;
    background-size: cover;

  }
  .box{
    color:rgb(84, 84, 84);
    margin: 0 0 1rem 0; 
    align-items: center;
    align-items:center;
    text-align: inherit;
    
    background-color: rgba(0, 0, 255, 0.35);
    border-radius: 5%;
    
    
    
  } 
  
  .bonito{
  font-size: 2.3rem;
  width: 328px;
  height: 100px;
  -moz-border-radius: 0 50% / 0 100%;
  -webkit-border-radius: 0 50% / 0 100%;
  border-radius: 0 48% / 0 93%;
  border: 2px solid #555;
}

  .container{
    border-width: 5%;
    border-radius: 5%;
    color: aliceblue;
    /* background-image: url("../public/Imagenes/james-harrison-vpOeXr5wmR4-unsplash.jpg") ; */
    background-size: cover;
    opacity: 0.8;

    align-items: center;
    text-align: center;


    border-radius: 5%;
    border-width: 5px;
    border-style: groove;
    border-color: rgba(13, 29, 255, 0.124);
    
    background-color: rgba(0, 123, 255, 0.111);
  }
}


@media (min-width: 481px) and (max-width: 767px) {
  
  /* CSS */
  .main {
    min-height: 84vh;
    padding: 0rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(133, 133, 197, 0.494);
    align-items: center;
    text-align: center;
    border-radius: 5%;
    border-width: 3px;
    border-style: groove;
    border-color: rgba(13, 29, 255, 0.344);
    background-image: url("../public/Imagenes/james-harrison-vpOeXr5wmR4-unsplash.jpg") ;
    background-size: cover;
    color:aliceblue
  }
  
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  /* CSS */
  
}

@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
  .main {
    min-height: 84vh;
    padding: 0rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(133, 133, 197, 0.494);
    align-items: center;
    text-align: center;
    border-radius: 5%;
    border-width: 3px;
    border-style: groove;
    border-color: rgba(13, 29, 255, 0.344);
    background-image: url("../public/Imagenes/james-harrison-vpOeXr5wmR4-unsplash.jpg") ;
    background-size: cover;
  }
  
}


@media (min-width: 1025px) and (max-width: 1280px) {
  
  /* CSS */
  
}

@media (min-width: 1281px) {
  
  /* CSS */
    
  .main {
    min-height: 84vh;
    padding: 0rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(133, 133, 197, 0.494);
    align-items: center;
    color:rgb(202, 202, 202);

    text-align: center;
    border-radius: 5%;
    border-width: 3px;
    border-style: groove;
    border-color: rgba(13, 29, 255, 0.344);
    background-image: url("../public/Imagenes/james-harrison-vpOeXr5wmR4-unsplash.jpg") ;
    background-size: cover;



  }
  
}

/* .container {
  padding: 0 2rem;
}

.main {
  min-height: 84vh;
  padding: 0rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(133, 133, 197, 0.494);
  align-items: center;
  text-align: center;
  border-radius: 5%;
  border-width: 3px;
  border-style: groove;
  border-color: rgba(13, 29, 255, 0.344);
  background-image: url("../public/Imagenes/james-harrison-vpOeXr5wmR4-unsplash.jpg") ;
  background-size: cover;
}

.bodys {
  background-color: rgb(0, 0, 216);
  background-image: url("../public/Imagenes/james-harrison-vpOeXr5wmR4-unsplash.jpg") ;

}
.box{
  color:rgb(194, 194, 194);
  margin: 0 0 1rem 0;

} */

/* .footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
} */
